.common_section{
    
        height: 20vh;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 10px;
    h1{
        color: #2874f0;
        text-align: center;
    }
}