.carousel-item img {
    width: 100%; /* This makes the image responsive */
    height: 300px; /* You can adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the set height while keeping its aspect ratio */
     /* Ensure the image is treated as a block element */
    
  }
  
  .banner{
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 2%, rgba(159,35,236,1) 48%, rgba(149,0,255,1) 96%);
    color: white;
    height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-shadow: 2px 2px #312f2f;
  }
@media (max-width:450px) {
  .banner{
    height: 22vh;
    
    img{
      height: 100%;
      width: 100%;
      padding-right: 5px;
    }
    h2,h6,p,h4{
      font-size: 13px;
    }
  }
}

@media (max-width: 360px) {
  .carousel {
    height: 200px; // Adjust height as needed
  }

  .carousel img {
    height: 100%;
    object-fit: cover;
  }
 
}


  