.filter_widget select{
    padding: 10px 20px;
    border:  1px solid #2874f0;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    
    color: #333;
}
.filter_widget select:focus{
    outline: none !important;
}
.filter_widget select option{
    font-size: 0.9rem;
}
.serach_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2874f0;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 3px;
    color: #333;
background-color: white;
    input{
        width: 100%;
        border: none;
        outline: none;
        padding: 8px 10px;
        
    }
    .filter_serach{
        font-size: 25px;
    }
}
.noproduct{
    color:#333 ;
    text-align: center;
}

.product-card{
    width:15rem;
    height: 24rem;
    border: none;
    .card-img{
        aspect-ratio: 16 / 9
    }
}

@media only screen and (max-width:768px)
{
    .filter_widget{
        margin-bottom: 20px;
    }
}

@media (max-width:450px) {

    .product-card{
        width:13rem;
        height: 22rem;
    }
}